@use '../../../../styles/index' as s;

.createtodo__container {
  display: grid;
  grid-column: 1fr;
  row-gap: s.fn-rem(32);
}

.createtodo__buttons {
  display: flex;
  flex-direction: column-reverse;
  row-gap: s.fn-rem(16);
}

@media (min-width: 640px) {
  .createtodo__buttons {
    flex-direction: row;
    column-gap: s.fn-rem(16);
  }
}
