@use '../../../../styles/index' as s;

.todotasks {
  width: 100%;
  display: grid;
  row-gap: s.fn-rem(24);
  text-align: center;
}

.todotasks_control {
  border: 1px s.colors-pick("gray100") dashed;
  border-radius: 8px;
  padding: s.fn-rem(16);
  display: flex;
  column-gap: s.fn-rem(24);
  cursor: pointer;
  
  &:hover {
    background: s.colors-pick("neutral200");
    border: 1px s.colors-pick("neutral200") solid;
  }
  
  &__checkbox {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: s.fn-rem(16);
  }

  &__label {
    text-align: left;
    margin: auto 0;
    font-size: s.fn-rem(16);
    font-weight: 400;

    &__completed {
      text-align: left;
      font-size: s.fn-rem(16);
      font-weight: 400;
      color: s.colors-pick("neutral600");
      text-decoration: line-through;
    }
  }

  &__icon {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
