@use "../../styles/index" as s;
$mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="3" stroke="%23000" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path d="M5 12l5 5l10 -10"/></svg>');

.checkbox {
  &[type="checkbox"] {
    @include s.mixins-size(24);
    appearance: none;
    aspect-ratio: 1;
    background: s.colors-pick("neutral100");
    border: 1px solid s.colors-pick("gray100");
    border-radius: s.radii-pick("xsm");
    box-sizing: border-box;
    font-size: s.fn-rem(16);
    position: relative;

    &:checked {
      border-color: s.colors-pick("blue300");
      background: s.colors-pick("blue100");

      &::after {
        content: "";
        background: s.colors-pick("blue300");
        inset: 0;
        position: absolute;
        mask: $mask no-repeat center / contain;
        -webkit-mask: $mask no-repeat center / contain;
      }
    }
  }
}
