@use "../../../../styles/index" as s;

.todolist {
  margin: auto;
  width: 100%;
  max-width: 28.125rem;
  padding: s.fn-rem(32);
  border: 1px s.colors-pick("neutral300") solid;
  border-radius: s.radii-pick("md");
  display: grid;
  justify-items: center;
  row-gap: s.fn-rem(24);
}
