@use "../../styles/index" as s;

$primary: s.colors-pick("neutral800");
$secondary: s.colors-pick("neutral600");
$tertiary: s.colors-pick("neutral100");

.typography {
  &--size {
      &-medium {
        font-size: s.fn-rem(16);
      }
    &-large {
      font-size: s.fn-rem(24);
    }
  }
  
  &--weight {
    &-regular {
      font-weight: 400;
    }
    &-medium {
      font-weight: 500;
    }
  }

  &--color {
    &-primary {
      color: $primary;
    }
    &-secondary {
      color: $secondary;
    }
    &-tertiary {
      color: $tertiary;
    }
  }
}
