@use "../../styles/index" as s;

$primary: linear-gradient(
  to right,
  s.colors-pick("blue200"),
  s.colors-pick("blue100")
);
$secondary: linear-gradient(
  to right,
  s.colors-pick("red200"),
  s.colors-pick("red100")
);
$tertiary: s.colors-pick("neutral400");

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: s.fn-rem(51);
  border-radius: s.radii-pick("sm");
  font-size: s.fn-rem(16);
  font-weight: 500;
  color: s.colors-pick("neutral100");

  &--variant {
    &-primary {
      background-image: $primary;
    }
    &-secondary {
      background-image: $secondary;
    }
    &-tertiary {
      background: $tertiary;
      font-size: s.fn-rem(16);
      font-weight: 400;
      color: s.colors-pick("neutral800");
    }
  }
}
