@use "./styles/index" as s;

@include s.mixins-resetcss;

.container {
  padding: s.fn-rem(24);
  width: 100vw;
  height: 100vh;
}

@media (min-width: 640px) {
  .container {
    padding: s.fn-rem(24) s.fn-rem(56);
  }
}
