@use "../../styles/index" as s;

.home_container {
  display: grid;
  gap: s.fn-rem(24);
}

.home_header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  row-gap: s.fn-rem(8);

  padding-bottom: s.fn-rem(24);
  border-bottom: 1px s.colors-pick("neutral500") solid;

  &__title {
    font-size: s.fn-rem(16);
  }
}

@media (min-width: 640px) {
  .home_container {
    gap: s.fn-rem(40);
  }

  .home_header {
    grid-template-columns: repeat(3, 1fr);

    &__title {
      text-align: center;
      font-size: s.fn-rem(24);
      font-weight: 500;
    }

    &__date {
      text-align: end;
    }
  }
}
