@use "../../styles/index" as s;

$primary: s.colors-pick("neutral800");
$secondary: s.colors-pick("neutral600");
$tertiary: s.colors-pick("neutral100");

.input {
  &__container {
    display: grid;
    grid-column: 1fr;
    row-gap: s.fn-rem(8);
  }

  &__control {
    width: 100%;
    padding: s.fn-rem(16);
    border-radius: s.radii-pick("sm");
    border: 1px s.colors-pick("neutral500") solid;

    &:focus {
      border: 1px s.colors-pick("neutral500") solid;
    }

    &:placeholder-shown {
      font-weight: 400;
      color: s.colors-pick("neutral700");
      font-size: s.fn-rem(16);
    }
  }
}
